:root{
    --blue: #3498db;
    --dark-blue: #2980b9;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --black: #333;
    --white: #fff;
    --light-bg: #eee;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.form-container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form-container form{
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 500px;
    border-radius: 5px;
}
.form-container form .box{
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    color: var(--black);
    margin: toppx 0;
}