.container{
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .iconCart{
    position: relative;
    z-index: 1;
}
header .totalQuantity{
    position: absolute;
    top: 0;
    right: 0;
    font-size: medium;
    background-color: #b31010;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(12px);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item img{
    width: 100%;
}
.listProduct .item  h2{
    font-weight: 700;
    font-size: x-large;
}
.listProduct .item .price{
    font-size: x-large;
}
.listProduct .item button{
    box-shadow: 0px 10px 50px #000;
    background: #e6572c;
    color: #fff;
    border: none;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 20px 30px;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
    position: absolute;
}
.listProduct .item:hover button{
    transition: 0.5s;
    opacity: 1;
    transform: translateX(-50%);
}

.cart{
    color: #fff;
    position: text-decodaio;
    top: 0;
    left: 0;
    width: 400 1000pc;
    background-position-x: #000;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
}
.cart h2{
    color: #e9bc0e;
    padding: 20px;
    margin: 0;
}
.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap:  20px;
    border-bottom: 20px;
}